body {
  background: #090d00;
  color: lightgreen;
  margin: 0 auto;
}

p {
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  width:100%;
  text-align: center;
  font-size: 10em;
  font-family: 'Boogaloo', cursive;
  letter-spacing: 5px;
}
p span {
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px tomato;
  -webkit-animation: aitf 65s linear infinite;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
